
<br>
<div class="row">

    <div class="col-md-6 text-center">
        <div class="btn-group">

            <button
                    class="btn btn-primary"
                    mwl-date-modifier
                    date="vm.viewDate"
                    decrement="vm.calendarView">
                Предыдущий
            </button>
            <button
                    class="btn btn-default"
                    mwl-date-modifier
                    date="vm.viewDate"
                    set-to-today>
                Сегодня
            </button>
            <button
                    class="btn btn-primary"
                    mwl-date-modifier
                    date="vm.viewDate"
                    increment="vm.calendarView">
                Следующий
            </button>
        </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'">Год</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Месяц</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Неделя</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'">День</label>
        </div>
    </div>

</div>
<br>
    