<div class="modal-header">
    <h3 class="modal-title">Информация о заказе!</h3>
</div>
<div class="modal-body">
    <p>Действие:
    <pre>{{ vm.action }}</pre>
    </p>
    <p>Событие:
    <pre>{{ vm.event | json }}</pre>
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">OK</button>
</div>
