html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.navbar-default{
    background-color: transparent;
    border: none
}
.item-nw{
    max-width: 228px;
}
.navbar .container{
    width: 100%!important;
    padding: 0;
}
.navbar-brand{
    display: none;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.main-menu{
    border-bottom: 1px #c8c8c8 solid;
}
.navbar-collapse{
    padding: 0;
}
.footer {
    min-height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

/* my styles */



.navbar-brand{
    padding: 5px 15px;
}
.navbar-toggle .icon-bar{
    background: #1a1a1a;
}
.navbar-toggle{
    border: 1px #1a1a1a solid;
}


.header-row{
    padding: 15px;
    line-height: 2.2;
    min-height: 70px;
}
.border-right{
    border-right: 1px #c8c8c8 solid;
}
.border-bottom{
    border-bottom: 1px #c8c8c8 solid;
}
.border-top{
    border-top: 1px #c8c8c8 solid;
}
.left-sidebar{
    padding: 0;
}
.border-left{
    border-left: 1px #c8c8c8 solid;
}
.main-wrapper .content{
    background-color: #f3f6f7;
    border-right: 1px #c8c8c8 solid;
    border-left: 1px #c8c8c8 solid;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

ul.language-box{
    display: inline-block;
    float: left;
    padding-left: 0;
    margin-bottom: 0;
}
ul.language-box li{
    display: inline-block;
    list-style: none;
}
ul.language-box li:last-child a:after{
    display: none;
}
ul.language-box li.current a{
    color: #ee3637;
}
ul.language-box li a{
    font-size: 12px;
    font-weight: 400;
    color: #969696;
    cursor: pointer;
    padding: 0 5px;
    text-transform: uppercase;
    position: relative;
}
ul.language-box li a:after{
    content: '';
    position: absolute;
    right:-2px;
    bottom: 2px;
    height: 80%;
    width: 1px;
    background: #969696;
}

a{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a.header-call-us{
    color: #2f2f2f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
a.header-call-us:hover{
    color: #ee3637;
    text-decoration: none;
}
a.header-call-us i{
    color: #ee3637;
}

h1.main-title{
    text-transform: uppercase;
    color: #2f2f2f;
    font-size: 26px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    width: 100%;
    position: relative;
    padding: 15px 0;
    margin-bottom: 40px;
}
h1.main-title::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: calc(50% - 47px);
    width: 94px;
    height: 3px;
    background-image: url("../images/header-line.png");
    background-repeat: no-repeat;
}
h2.common-title{
    text-transform: uppercase;
    color: #2f2f2f;
    font-size: 26px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    width: 100%;
    position: relative;
    padding: 15px 0;
    margin-bottom: 40px;
}
h2.common-title:after{
    position: absolute;
    content: '';
    bottom: 0;
    left: calc(50% - 47px);
    width: 94px;
    height: 3px;
    background-image: url("../images/header-line.png");
    background-repeat: no-repeat;
}
.content p{
    color: #555252;
    font-size: 14px;
}
p.sub-title{
    font-size: 17px;
    font-weight: 300;
}
img.stamp-mark{
    float: left;
    margin-right: 30px;
}


/*left-sidebar*/
.nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent;
}
.nav > li > a{
    padding: 0;
    display: inline-block;
    background-color: transparent;
}

img.logotype{
    margin: 15px;
}
ul.nav.left-menu{
    padding: 0;
    margin: 0;
}

.left-menu.nav > li > form, .left-menu.nav > li > form .btn{
    padding: 0;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}
ul.nav.left-menu li {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 48px;
    padding-right: 15px;
    list-style: none;
    border-bottom: 1px #c8c8c8 solid;
    position: relative;
}

ul.nav.left-menu li:last-child {
    border: none;
}
.navbar-toggle{
    border: 1px #ee3637 solid;
}
.navbar-default .navbar-toggle{
    border-color:#ee3637;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:#ee3637;
}

ul.nav.left-menu li.active a{
    color: #ee3637;
}

ul.nav.left-menu li.active:before{
    background: url("../images/red-arrow.png") no-repeat;
}
ul.nav.left-menu li a{
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}
ul.nav.left-menu li:hover::before, ul.nav.left-menu li.active:hover::before {
    background: url("../images/red-arrow.png") no-repeat;
}
ul.nav.left-menu li:hover a, ul.nav.left-menu li.active:hover a{
    color: #ee3637;
}
ul.nav.left-menu li:hover{
    background: #f3f6f7;
}
ul.nav.left-menu li a:hover{
    color: #ee3637;
    text-decoration: none;
}
ul.nav.left-menu li:before{
    content: '';
    position: absolute;
    width: 16px;
    height:10px;
    left: 20px;
    top: 25px;
    background: url("../images/arrow.png") no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.help-line{
    display: inline-block;
    padding: 80px 0;
}
.help-line a{
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #ee3637;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    display: inline-block;
}
.help-line a:hover span{
    color: #ee3637;
}
.help-line a span{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 50px;
    bottom: -20px;
    font-size: 13px;
    font-weight: 400;
    color: #8c8c8c;
}

.news-box{
    text-align: center;
    margin-bottom: 50px;
}
.news-item{
    margin: 4px;
    background-color: #FFFFFF;
    border: 1px #c8c8c8 solid;
    display: inline-block;
    max-width: 230px;
}
.news-item a{
    text-decoration: none;
    display: inline-block;
}
.internal-page img{
    max-width: 100%!important;
    height: auto!important;
}
#filter-form a.btn{
    color: #ffffff;
}
.news-item a:hover h3{
    color: #ee3637;
}
.description-news{
    padding: 10px;
}
.description-news h3{
    font-size: 14px;
    color: #48535e;
    font-weight: 600;
    text-align: left;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
p.news-date{
    text-align: left;
    font-size: 10px;
    color: #48535e;
    font-weight: 300;
}

.login-form label{}
.btn-login, .btn-send{
    background-color: #ee3637;
    color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 4px #a61f22 solid;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    padding: 5px 30px;
}
.btn-login:hover, .btn-send:hover{
    color: #FFFFFF;
    border-bottom: 4px #ee3637 solid;
}
.login-form{
    padding: 20px 15px;
}
#login-form .checkbox label{
    color: #ee3637;
    font-size: 12px;
    font-weight: 300;
}
#loginform-email, #loginform-password{
    border-radius: 0;
    background: transparent;
}

.forgot-btn{
    color: #ee3637;
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
}
.remember-link, .loginform-rememberme{
    font-size: 12px;
    font-weight: 300;
    color: #ee3637;
}
.forgot-btn:hover{
    text-decoration: none;
}
h3.entry-title{
    text-transform: uppercase;
    color: #2f2f2f;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

p.bottom-text{
    font-size: 14px;
    padding: 20px 0;
    color: #424242;
    font-family: 'Open Sans', sans-serif;
}
.content .input-group-addon{
    padding: 4px;
}
/*Internal pages*/
.internal-page{

}
.internal-page p{
    font-size: 14px;
    color: #2f2f2f;
    line-height: 2;
}
.internal-page a{
    color: #ee3637;
}
.internal-page i.glyphicon-envelope{
    color: #a9aaab;
}



/*Cooperation page*/
.anketa{
    text-align: left;
    max-width: 350px;
    width: 100%;
    margin: 10px;
    background-color: #FFFFFF;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.5);
}
.files-box{
    text-align: center;
}
.anketa p{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #383838;
    line-height: 1.5;
}
.icon-anketa, .anketa-content{
    display: inline-block;
}
.icon-anketa{
}
.anketa-content{
    text-align: left;
}
.anketa-content h4{
    font-size: 14px;
    color: #383838;
    font-weight: 600;
    margin-top: 0;
}
i.anketa-img{
    background: url("../images/anketa.png") no-repeat;
    width: 56px;
    height: 56px;
    display: inline-block;
    margin: 20px;
}
.require-list ul{
    margin-bottom:20px;
    list-style: decimal;
}
.require-list ul li{
    line-height:1.5em;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 300;
    color: #2f2f2f;
    list-style: decimal;
}
.contact-form h4{
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    color: #2f2f2f;
    margin: 30px 0;
}

.form-box-cream{
    margin: 15px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff2bd;
    padding: 15px 40px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.45);
}
.form-box-cream h3{
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    color: #2f2f2f;
}
#w0-collapse{
    padding: 0;
}

/*balances*/
.balance thead{
    color: #FFFFFF;
    background-color: #ee3637;
}

a.export-btn{
    margin: 15px 0;
    float: right;
    color: #FFFFFF;
}
.period{
    font-size: 14px;
    display: inline-block;
    padding: 8px 12px;
    font-weight: 400;
}
div.summary{
    display: inline-block;
    margin: 15px 0;
}
.WordWrap {
    width: 100%;
    word-break: break-all;
}
.detail-viewer thead tr{
    background-color: #0275d8;
    color: #ffffff;
}
.detail-viewer{
    margin: 15px 0;
}
footer.footer{
    background-color: #37495e;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
.help-line.mobile-only{
    display: none;
}

.list-group.specifications-cmp{
    display: inline-block;
}
.list-group.specifications-cmp a.active i{
    color: #ffffff;
}
.view-report a{
    color: #37495e;
}
.view-report a:hover{
    color: #ee3637;
}
.list-group.specifications-cmp a i{
    color: #37495e;
    margin-right: 10px;
}
.list-group.specifications-cmp a{
    text-transform: uppercase;
}
table.specification tbody tr{

}
table.specification tbody tr:hover{

}
td.new-price {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
td.new-price:hover{

    background-color: #337ab7;
    color: #FFFFFF;
}
td.new-price:hover .kv-editable-link{
    color: #FFFFFF;
    cursor: pointer;
}
td.new-price i {
    margin: 5px;
}

.filter-product{
    display: inline-block;
}
#filterForm{
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}
.export-btn#infilter-form{
    float: none;
}
#filterForm .filter-send{
    padding: 6px 12px;
    font-size: 14px;
}

mwl-calendar .cal-month-day{
    height: 300px;
}
mwl-calendar .events-list{
    max-height: 250px;
}

@media(max-width: 1200px) {
    mwl-calendar .cal-month-day{
        height: 450px;
    }
    mwl-calendar .events-list{
        max-height: 400px;
    }
}
@media(max-width:995px) {
    .help-line{
        padding: 15px 0;
    }
    .help-line.desktop-only{
        display: none;
    }
    .help-line.mobile-only{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    mwl-calendar .events-list{
        display: none;
    }
}

@media(max-width:400px) {
    .anketa{
        margin: 10px 0;
    }
}
@media(max-width:768px) {
    .navbar-brand{
        line-height: 35px;
        display: inline-block;
        position: relative;
        height: 40px;
    }
    .header-row{
        padding: 0 15px;
    }
    .navbar-brand:after{
        position: absolute;
        content: '';
        bottom: 0;
        left: calc(50% - 47px);
        width: 94px;
        height: 3px;
        background-image: url("../images/header-line.png");
        background-repeat: no-repeat;
    }
    .navbar .container{
        padding: 0 15px;
    }
    .navbar-default{
        background-color: transparent;
        border: none;
        margin: 0;
    }
    p.period{
        text-align: center;
        width: 100%;
        float: none;
    }
    .header-part{
        text-align: center;
    }
	.nav li > form {
	    padding: 3px;
	}
    .left-sidebar{
        padding: 15px;
    }
    .main-wrapper .content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .mobile-only{
        display: inline-block;
    }
    .desktop-only{
        display: none;
    }
    mwl-calendar .cal-month-day{
        height: 100px;
    }

}

.nav > li > form > button:hover {
    text-decoration: none;
}
@media(max-width:994px) {
    .header-row{
        border:none;
    }

}
@media(max-width:600px) {
    table.balance{
        font-size: 12px;
    }
}
@media(max-width:600px) {
    th.articul, td.articul{
        display: none;
    }
}
@media(max-width: 450px) {
    table.balance th, table.balance td{
        padding: 4px!important;
    }
    th.date, td.date{
        font-size: 11px;
        text-align: center;
    }
    th.store, td.store{
        display: none;
    }
}



@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }